// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Variables
$main-bg-color: #0f0f0f;
$secondary-bg-color: #ffffff;
$main-accent-color: #00afaa;
$main-text-color: #ffffff;

// Placeholder Classes

%btn {
	background-color: $main-bg-color;
	color: $main-text-color !important;
	border: none;
	border-radius: 5px;
	margin: 0px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.1s;
}

%btn:hover {
	background-color: $main-accent-color;
	transition: background-color 0.1s;
}

// Elements
.home__header {
	font-size: 100px;
}

.home__header--logged-in {
	font-size: 90px;
}

.home__p {
	font-size: 20px;
	line-height: 28px;
}

.home__separator {
	margin: 25px 0px;
}

.home__btn {
	@extend %btn;
	padding: 15px 32px;
}

.home__btn:hover {
	@extend %btn:hover;
}

.home__btn--sm {
	@extend %btn;
	padding: 5px 20px;
}

.home__btn--sm:hover {
	@extend %btn:hover;
}
